@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
/* Extra-light 200 */
/* Light 300 */
/* Regular 400 */
/* Medium 500 */
/* Semi-bold 600 */

/* margin when you want to space out elements from other elements */
/* padding when adjusting the appearnce of an element or wasnt to change the within an element's border */


/* Declaring global CSS variables  */
:root{ 
    --dark-blue: hsl(223, 47%, 23%); 
    --sailor-blue: #00203FFF;
    --desaturated-blue: hsl(224, 23%, 55%);
}

*{ 
    margin: 0; 
    box-sizing: border-box; 
    /* border-box = border + padding is inclusive in element's width and height */
    padding: 0; 
}


body{ 
    font-family: 'Nunito', sans-serif ; 
    min-height: 100vh;   /* Makes the body have 100% of the browser height or fills the entire browser window*/
    background-color: lightcoral;
}


.container{ 
    display: flex; 
    height: 100vh; 
    align-items: center; 
    justify-content: center;
}
.card{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 30px;   
    background-color: white;
 
    
 } 



.teaser{ 
    margin: 60px 45px 55px; 
}




.shortcut-links{ 
    display: flex; 
    flex-direction: column;
}


.imag{ 
    /* height: 100%;  */

}