@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
/* Extra-light 200 */
/* Light 300 */
/* Regular 400 */
/* Medium 500 */
/* Semi-bold 600 */

/* margin when you want to space out elements from other elements */
/* padding when adjusting the appearnce of an element or wasnt to change the within an element's border */


*{ 
    margin: 0; 
    box-sizing: border-box; 
    /* border-box = border + padding is inclusive in element's width and height */
    padding: 0; 
}


body{ 
    font-family: 'Nunito', sans-serif ; 
    /* min-height: 100vh;   Makes the body have 100% of the browser height or fills the entire browser window */
    background-color: lightcoral;
    /* background-color: #ff7f50;  */
}


.container{ 
    display: flex; 
    height: 100vh; 
    align-items: center; 
    justify-content: center;
}
.card{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;   
    background-color: white;
    
    
 } 



.text-content{ 
    margin: 60px 45px 55px; 
}


span{ 
    /* Need to give span a width and height for it to appear */
    display: inline-block;
    width: 50px; 
    height: 5px;  
    background-color: #ff7f50;
    margin-bottom: 5px; 
}

h1{ 
    margin-bottom: 10px; 
    font-weight: 600; 
    font-size: 36px; 
}

p{ 
    font-weight: 400;
    margin-bottom: 10px;
}





.imag img{ 
    vertical-align: middle; 
    height: 510px;
    /* width: 100%;  */
}



.shortcut-links a{ 
    display: inline-block;  
    text-decoration: none;
    margin:  5px 5px;
    color: #ff7f50; 
    font-weight: 600;
    position: relative; 

}


/* pseudo-element allows you style a specific part of an element */
/* "After" keyword used to add cosmetic content to an element without having to use HTML (Acts if it were it's own element)*/
/* Gets inserted after the CONTENT of that ELEMENT. (NOT COMING AFTER THE ACTUAL ELEMENT) Reference Inspection Tool  */

.shortcut-links a::after{    
    content: "";   /*Replaces an element with a generated value(Empty Values Acts like an empty span)  */
    position: absolute; 
    width: 100%; 
    transform: scaleX(0); /*Initially Hides the Element */ 
    height: 2px; 
    bottom: 0; 
    left:0; 
    background-color: #dc143c;    ; 
    transform-origin: bottom right; 
    transition: transform 0.25s ease-out; 
}


.shortcut-links a:hover::after{ 
    transform: scaleX(1);
    transform-origin: bottom left; 
}




/* min-width:  768px browser's viewport width equal or wider than 768px (768>=)*/



@media screen and (max-width: 926px) {
    .container{ 
        /* flex-direction: column;  */
    }


    .card{ 
        flex-direction: column;
        width: 100%; 
    }
  
    


    
    
    .text-content{ 
        margin: 30px 25.2px 27.5px; 

    }
}